---
import { siteConfig } from "@/site.config";

export interface Props {
	title?: string;
	description?: string;
	keywords?: string;
	author?: string;
	favicon?: string;
}

const {
	title = siteConfig.title,
	description = siteConfig.description,
	keywords = siteConfig.keywords,
	author = siteConfig.author,
	favicon = siteConfig.favicon,
} = Astro.props;
---

<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href={favicon} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
