---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
	entry: CollectionEntry<"wfp-games">;
}

const { entry } = Astro.props;
---

<div class="relative w-auto aspect-video bg-black">
	<Picture
		src={entry.data.before}
		alt={entry.data.title}
		formats={["avif", "webp"]}
		class="z-0 block w-full h-full object-contain"
	/>
	<Picture
		src={entry.data.after}
		alt={entry.data.title}
		formats={["avif", "webp"]}
		class="z-1 absolute inset-0 w-full h-full object-contain hover:opacity-0 transition-opacity duration-100"
	/>
	<Picture
		src={entry.data.logo}
		alt={entry.data.title}
		formats={["avif", "webp"]}
		style="inset: 25%; width: 50%; height: 50%;"
		class="z-2 absolute object-contain visible hover:invisible transition-all duration-0 delay-[180s] hover:delay-0"
	/>
</div>
